## SQL Notebook for peer Assignment

## Introduction

Using this python notebook you will:
1. Understand the spacex DataSet
2. Load the dataset into the corresponding table in a Db2 database
3. Execute SQL queries to answer assignment questions

In [67]:
!pip install sqlalchemy==1.3.9
!pip install sqlalchemy==2.0.0

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-macosx_11_0_arm64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.0
    Uninstalling SQLAlchemy-2.0.0:
      Successfully uninstalled SQLAlchemy-2.0.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Collecting sqlalchemy==2.0.0
  Using cached SQLAlchemy-2.0.0-cp311-cp311-macosx_11_0_arm64.whl (1.9 MB)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/josethorex/anaconda3/lib/python3.11/site-packages (from sqlalchemy==2.0.0) (4.7.1)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.0

## Connecting to the database¶
first load the SQL extension and establish a connection with the database

In [68]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [69]:
import sqlite3
import csv, sqlite3
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [70]:
!pip install -q pandas==1.1.5
!pip install -q pandas==1.1.5 -i https://pypi.org/simple
!pip install -q --timeout=1000 pandas==1.1.5

In [71]:
%sql sqlite:///my_data.db

In [72]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTABLE", con, if_exists='replace', index=False,method="multi")

101

## Note: This below code is added to remove blank rows from table

In [73]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks¶
Now write and execute SQL queries to solve the assignment tasks.
Note: If the column names are in mixed case enclose it in double quotes For Example "Landing_Outcome"

## Task 1
Display the names of the unique launch sites in the space mission

In [74]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar una consulta SQL
query = 'SELECT DISTINCT Launch_Site FROM SPACEXTABLE;'
cursor.execute(query)

# Obtener los resultados
resultados = cursor.fetchall()

# Cerrar la conexión
conn.close()

# Imprimir los resultados
print(resultados)

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

## Task 2
Display 5 record where launch sites begin with the string 'CCA'

In [75]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL
query = 'SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE "CCA%" LIMIT 5;'
cursor.execute(query)

# Obtener los resultados
resultados = cursor.fetchall()

# Cerrar la conexión
conn.close()

# Imprimir los resultados
print(resultados)

[('6/4/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'), ('12/8/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'), ('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'), ('10/8/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('3/1/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Task 3
Display the total payload mass carried by boosters launched by NASA (CRS)

In [89]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener la suma de payload_mass__kg_ para los lanzamientos de la NASA (CRS)
query = "SELECT SUM(payload_mass__kg_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';"
cursor.execute(query)

# Obtener el resultado
result = cursor.fetchone()

# Imprimir el resultado
print("La masa total de carga útil transportada por los impulsores lanzados por la NASA (CRS) es:", result[0], "kg")

# Cerrar la conexión
conn.close()

La masa total de carga útil transportada por los impulsores lanzados por la NASA (CRS) es: 45596 kg

## Task 4
Display average payload mass carried by booter version F9

In [90]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener el promedio de payload_mass__kg_ para los lanzamientos de la versión F9
query = "SELECT AVG(payload_mass__kg_) FROM SPACEXTABLE WHERE booster_version = 'F9';"
cursor.execute(query)

# Obtener el resultado
result = cursor.fetchone()

# Imprimir el resultado
print("El promedio de la masa de carga útil transportada por la versión F9 es:", result[0], "kg")

# Cerrar la conexión
conn.close()

El promedio de la masa de carga útil transportada por la versión F9 es: None kg

## Task 5
List the date when the first succesful landing outcome in ground pad was achieved.

Hint: Use min function

In [92]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener la fecha del primer aterrizaje exitoso en una plataforma terrestre
query = "SELECT MIN(date) FROM SPACEXTABLE WHERE landing_outcome = 'Success';"
cursor.execute(query)

# Obtener el resultado
result = cursor.fetchone()

# Imprimir el resultado
print("La fecha del primer aterrizaje exitoso en una plataforma terrestre fue:", result[0])

# Cerrar la conexión
conn.close()

La fecha del primer aterrizaje exitoso en una plataforma terrestre fue: 1/11/2019

## Task 6 
List the names of the boosters which have success in drone ship and have pyload mass greater than 4000 but less than 6000

In [96]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener los nombres de los impulsores con éxito en drone ship y con payload_mass entre 4000 y 6000
query = "SELECT Booster_version FROM SPACEXTABLE WHERE Landing_outcome = 'True' AND Landing_outcome = 'Drone Ship' AND payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000;"
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los nombres de los impulsores
print("Nombres de los impulsores con éxito en drone ship y con masa de carga útil entre 4000 y 6000 kg:")
for row in results:
    print(row[0])

# Cerrar la conexión
conn.close()

Nombres de los impulsores con éxito en drone ship y con masa de carga útil entre 4000 y 6000 kg:

## Task 7
List the total number of successful and failure mission outcomes

In [99]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener el número total de misiones exitosas y fallidas
query = "SELECT Mission_outcome, COUNT(*) FROM SPACEXTABLE GROUP BY Mission_outcome;"
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los resultados
for outcome, count in results:
    print(f"Número de misiones con resultado '{outcome}': {count}")

# Cerrar la conexión
conn.close()

Número de misiones con resultado 'Failure (in flight)': 1
Número de misiones con resultado 'Success': 98
Número de misiones con resultado 'Success ': 1
Número de misiones con resultado 'Success (payload status unclear)': 1

## Task 8
List the names of the booster_versions which have carried the maximum pyload mass. Use subquery

In [100]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Utilizar una subconsulta para obtener la máxima carga útil entre todas las versiones de impulsores
query = """
        SELECT booster_version
        FROM SPACEXTABLE
        WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM SPACEXTABLE);
        """

# Ejecutar la consulta SQL
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los nombres de las versiones de impulsores
print("Las versiones de impulsores que llevaron la máxima masa de carga útil son:")
for result in results:
    print(result[0])

# Cerrar la conexión
conn.close()

Las versiones de impulsores que llevaron la máxima masa de carga útil son:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

## Task 9
List the records which will display the month names, failure landing_outcomes in drone ship, booster versions, launch_site
for the months in year 2015.

Note_SQLLITE does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year

In [107]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para obtener los registros según las condiciones dadas
query = """
    SELECT 
        substr(Date, 6, 2) AS Month,
        Payload, 
        landing_outcome,
        booster_version,
        launch_site 
    FROM 
        SPACEXTABLE 
    WHERE 
        substr(Date, 0, 5) = '2015' 
        AND landing_outcome = 'drone ship';
"""
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Imprimir los resultados
print("Registros para los meses en el año 2015 con fallos en el aterrizaje en el drone ship:")
for row in results:
    print("Month:", row[0])
    print("Failure:", row[1])
    print("Landing Outcomes:", row[2])
    print("Booster Version:", row[3])
    print("Launch Site:", row[4])
    print("----")

# Cerrar la conexión
conn.close()

Registros para los meses en el año 2015 con fallos en el aterrizaje en el drone ship:

## Task 10
Rank the count of landing outcomes (such as Failure(drone ship) or Success (Gound pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [108]:
import sqlite3

# Conectar a la base de datos (asegúrate de cambiar 'my_data1.db' por el nombre real de tu base de datos)
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Ejecutar la consulta SQL para clasificar el recuento de resultados de aterrizaje entre las fechas dadas en orden descendente
query = """
    SELECT landing_outcome, COUNT(*) as count
    FROM SPACEXTABLE
    WHERE date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY landing_outcome
    ORDER BY count DESC;
"""
cursor.execute(query)

# Obtener todos los resultados
results = cursor.fetchall()

# Imprimir los resultados
print("Recuento de resultados de aterrizaje entre 2010-06-04 y 2017-03-20 (ordenados por descenso):")
for row in results:
    print(f"{row[0]}: {row[1]}")

# Cerrar la conexión
conn.close()

Recuento de resultados de aterrizaje entre 2010-06-04 y 2017-03-20 (ordenados por descenso):